<ion-content [fullscreen]="true">
  <h1 class="title animated flipInX ion-text-center">ROMANISATOR</h1>
  <div id="container">
    <div class="vcs">
      <ion-card class="animated zoomInDown" color="none">
        <ion-card-header>NUMBER</ion-card-header>
        <ion-card-content>
          <ion-input [ngClass]="{'animated tada': animate == 'num'}" type="number" #num [value]="number"
            (ionChange)="changeNumber(num.value)"></ion-input>
        </ion-card-content>
      </ion-card>
      <ion-button class="animated zoomIn converter" color="secondary" size="large" (click)="checker()">
        CONVERT!</ion-button>
      <ion-card class="animated zoomInUp" color="none">
        <ion-card-header>ROMAN NUMERAL</ion-card-header>
        <ion-badge *ngFor="let l of letters">{{l}}</ion-badge>
        <ion-card-content>
          <ion-input [ngClass]="{'animated tada': animate == 'rom'}" #rom [value]="roman"
            (ionChange)="changeRoman(rom.value)"></ion-input>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>